<div class="field">
    <label class="field__label" for="{{ id }}">{{ label }}</label>
    <input class="field__input" name="{{ name }}" id="{{ id }}" type="{{ type }}" placeholder="{{ placeholder }}" />
    <div class="alert _error">{{ alert }}</div>
</div>
