<div class="chat__list-item">
    <div class="chat__list-avatar">
        {{{ avatar }}}
    </div>
    <div class="chat__list-preview">
        <div class="chat__list-name">
            {{{ name }}}
        </div>
        <div class="chat__list-title">
            {{{ title }}}
        </div>
        <div class="chat__list-intro">
            {{{ intro }}}
        </div>
    </div>
    <div class="chat__list-cell">
        {{!-- <div class="chat__time">10:49</div> --}}
        {{{ count }}}
    </div>
</div>
