<div class="window _large chat">
    <div class="chat__sidebar">

        <div class="chat__header">

            {{{ chatAdd }}}

            <a class="link" href="/profile">Профиль</a>

        </div>

        {{{ chatSearchForm }}}

        {{{ chatSearchResult }}}

        <div class="chat__list">

            {{{ chatItem }}}

        </div>

    </div>
    <div class="chat__container hidden">

        {{{ chatTopbar }}}

        <div class="chat__feed">

            {{{ messageList }}}

        </div>

        {{{ chatForm }}}

    </div>
</div>
