<div class="window _large chat">
    <div class="chat__sidebar">

        <div class="chat__header">

            {{{ chatAdd }}}

            <a class="link" href="/profile">Профиль</a>

        </div>

        {{{ chatSearchForm }}}

        {{{ chatSearchResult }}}

        {{{ chatList }}}

    </div>
    <div class="chat__container hidden">

        {{!-- {{{ chatTopbar }}} --}}

        {{{ messageList }}}

        {{{ chatForm }}}

    </div>
</div>
